@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Yeseva+One&display=swap');
nav {
    font-family: 'Playfair Display', serif;
    letter-spacing: .2em;
    font-size: 1.05em;
    font-weight: bolder;
    position: sticky;
    padding-right: 50px;
    z-index: 100;
    background-color: red;
    justify-items: right;
}

nav li {
    display: inline-block;
    cursor: pointer;
}

nav li .link {
    text-decoration: none;
    padding: 1em;
    transition: all 0.5s ease-in-out;
}


/* Mobile Devices */

@media only screen and (max-width: 768px) {
    nav {
        position: fixed;
        width: 100%;
        top: 0;
    }
    ul {
        display: flex;
    }
}